ipython
jupyter
tensorboard
tqdm

PyYAML

dataclasses
decorator
docopt


h5py
numba
ninja
matplotlib
holoviews
bokeh
seaborn
plotly


numpy
pandas

scikit-learn
scipy

jupyter
ipywidgets


networkx

pybind11
